*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;

}


body{
	background: none;
	font-family: 'Helvetica', arial, sans-serif;

	font-size: 15px;
}

p{
	margin-bottom: 20px;
	line-height: 1.5em;
}
h3{
	margin-bottom: 20px;
	border-bottom: 1px solid #aaa;
}

a{
	text-decoration: none;
	color: #333;
}
a:hover{
	color: #666;
}


* {box-sizing:border-box}
body {font-family: Verdana,sans-serif;}
.mySlides {display:none}
 /* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
 /* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
 /* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
 /* The dots/bullets/indicators */
.dot {
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
 .active {
  background-color: #717171;
}
 /* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}
 @-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
 @keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
 /* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

.container{
	max-width: 1080px;
	margin: 20px auto;
	background: #fff;
	padding: 10px;
}
.container{
    display: grid;

}

.menu{
display: flex;
border: 0px solid gray;
flex-direction: row;
justify-content: center;
}

.menu ul{
	background: #DB7093;
	padding: 0px 0px;
	list-style: none;
	position: relative;
	display: inline-table;
	width: 100%
  }

  .menu ul li{
   float:left;

   }
   .menu ul li:hover{
   background:#e0eeee;
   }
   .menu ul li:hover a{
   color:#4B0082;
   }
   .menu ul li a{
   display: block;
   padding: 18px;
   color: white;
   text-decoration: none;
   }

.header{
	border: 0px solid #dedede;
	padding: 10px;
	margin: 10px;
	border: 0px solid gray;
}

/* Main */
	.left{
		width: 250px;
		border: 1px solid #F8F8FF;
		background: #F8F8FF;
		padding: 10px;
		margin: 10px;
		float: left;
		border-bottom: 2px solid #fff;
		transition: all 0.5s ease
	}
	.left img{
			width: 150px;
			height: 150px;
	}

	.left:hover {
	border-bottom: 2px solid orange;
	}
	.middle1{
		width: 1000px;
		border: 1px solid #dedede;
		background: #F8F8FF;
		padding: 10px;
		margin: 10px;
		float: center;
	}
	.middle2{
		width: 500px;
		border: 1px solid #dedede;
		background: #F8F8FF;
		padding: 10px;
		margin: 10px;
		float: left;
	}
	.middle{
		width: 500px;
		border: 1px solid #dedede;
		background: #F8F8FF;
		padding: 10px;
		margin: 10px;
		float: left;
	}
		.middle img{
			width: 100%;
			height: auto;
		}

		.middle a{
			font-weight: bold;
		}

	.right{
		width: 250px;
		border: 1px solid #dedede;
		background: #F8F8FF;
		padding: 10px;
		margin: 10px;
		float: left;
	}

	.right:hover {
	border-bottom: 2px solid orange;
	}
	.right ul{
		list-style-type: none;
	}
	.right ul li{
		display: block;
	}
	.right ul li a{
		display: block;
		border-bottom: 1px solid #dedede;
		margin-bottom: 10px;
		padding: 10px 5px;
	}
	.right ul li a:hover{
		color: orange;
	}

	.kanan{
		width: 500px;
		border: 1px solid #dedede;
		background: #F8F8FF;
		padding: 10px;
		margin: 10px;
		float: left;
	}
		.kanan img{
			max-width: 100%;
			height: auto;
		}

		.kanan a{
			font-weight: bold;
		}
	.footer{
	clear: both;
	border: 1px solid #dedede;
	background: #F8F8FF;
	padding: 10px;
	margin: 10px;
	}


/************************************************************************************
MEDIA QUERIES
*************************************************************************************/
/* untuk ukuran 1080px kebawah */
@media screen and (max-width: 1080px) {
	
	.container {
		display: grid;
		flex: content;
		width: 100%;
	}
	.left {
		width: 25%;
	background: #F8F8FF;
	}

	.middle {
		width: 68%;
		float: right;
	}

	.middle1 {
		width: 95%;
		float: center;
	}

	
	
	.right {
		clear: both;
		padding: 1% 4%;
		width: auto;
		float: none;
	}
	.kanan {
		width: 68%;
		float: right;
	}
}


/* untuk ukuran layar 700px kebawah */
@media screen and (max-width: 780px) {
	
	.header, 
	.footer{
		text-align: center;
	}
	.left {
		width: auto;
		float: none;
	}
	
	.middle {
		width: auto;
		float: none;
	}
	.middle1 {
		width: auto;
		float: center;
	}
	
	.right {
		width: auto;
		float: none;
	}

	.kanan {
		width: auto;
		float: none;
	}
}

